<!DOCTYPE html>
<html>
<!-- HEAD -->
  <head>
    <meta charset="utf-8">
    <title>Simple Express Login</title>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  </head>
<!-- BODY -->
  <body>
    <!-- <form id="target" method="post">
      <input type="text" name="username" id="names" value="User name"><br>
      <input type="password" name="psw" id="pass" value="Password"><br>
      <input type="submit" value="Submit">
    </form> -->
    <input type="text"  id="name"> User Name<br>
    <input type="text"  id="pass"> Password<br>
    <button id="btn0" class="btn">Create User</button>
    <script src="/js/httpscripts/query.js"></script>
  </body>
</html>
